.navContainer {
  margin: 1rem;
  display: flex;
  flex-direction: row;
}

.navEle {
  margin: 0.6rem;
  color: #ececec;
  font-family: "Comfortaa", cursive;
  font-size: large;
  transition: all 1s;
}
.navEle:last-child {
  margin-left: auto;
}
.navEle:hover {
  color: #c1a57b;
  font-size: x-large;
}
@media screen and (min-width: 120em) and (max-width: 160em) {
  .navContainer {
    margin-left: 15rem;
    margin-right: 15rem;
  }
  .title {
    margin-left: 15rem;
    margin-right: 15rem;
    font-size: 4rem;
  }
}
